<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

  <% if false %>
    <div id="header">
      <div class="nav-left">
          <div id="head-logo">
              <%= link_to image_tag('coollogo_com-7026956.png'), friends_path %>
          </div>
      </div>
    </div>
  <% end %>

  <%= link_to "Chiki!", friends_path, id: "logo" %>
    <nav>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'ホーム', friends_path %></li>
        <li><%= link_to current_user.username, pages_show_path %></li>
        <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'アカウント作成', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      </ul>
      <% end %>
    </nav>
  </div>
</header>